.primary-nav{
    &__pull-right{
        @mixin atMedium{
            float: right;
        }
    }
    
    ul{
        margin-top: 10px;
/*        padding: 10px 0 0 0;*/
        padding: 0;
        @mixin atMedium{
            margin: 0;
        }
    }
    li{
        list-style: none;
        display: inline-block;
        @mixin atMedium{
            float: left;
        }
        padding-right: 10px;
        @mixin atMedium{
            padding-right: 20px;
        }
    }
    li:last-child{
        padding-right: 0;
        @mixin atMedium{
            padding-right: 20px;
        }
    }
    a{
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 8px 5px;
        background-color: rgba($mainBlue, .3);
        transition: all .3s ease-out;
        
        @mixin atMedium{
            padding: 11px 5px;
            background-color: transparent;
            
            &.is-active{
                color: $mainOrange;
            }
        }
    }
    
    a:hover{
        background-color: $mainBlue;
    }
}